<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transformative Experiences</h2>
                    <h3 class="section-subheading text-muted">Attract and retain talent.</h3>
                </div>
            </div>
            <p>
                Are the graduate recruits at your company fulfilling their potential? Do they derive meaning and purpose from their work? Are they developing valuable transferable skills like leadership, initiative and responsibility? Are they happy?
            </p>

            <p>
                Research by the Royal Academy of Engineering has shown that since the pandemic:
            </p>
            <ul>
                <li>
                    Transition from probation to full time employment has fallen by 23%
                </li>
                <li>
                    Interest in progression to leadership roles has fallen by 43%
                </li>
                <li>
                    Graduate employees reporting ‘Very Low’ work satisfaction has increased by 31%
                </li>
            </ul>
            
            <p>
                What can be done? We need engineers more than ever - and they’re falling at the first hurdle of working life.
            </p>
            <p>
                Sapling is a radical new development experience devised by Dr Sarah Campbell, formerly the lead educational psychologist at the Institute of Engineers, and BAFTA-winning games designer and software engineer, Matt Thurling.
            </p>
            <p>
                It’s an holistic approach, recognising that individuals are only truly productive and creative when they feel a sense of social belonging and of being of service to a community.
            </p>
            <p>
                Its aim is to rethink working practices from first principles, combining the irreplaceable benefits of personal, face-to-face connection with the power and efficiency of digital technologies.
            </p>
            <p>
                In simple terms, it’s about:
            </p>
            <ul>
                <li>
                   Week-long retreats focused on problem-based learning and development 
                </li>
                <li>
                    A thriving, interdisciplinary, diverse community of employees from different sectors
                </li>
                <li>
                    Powerful and flexible online tools to consolidate, enhance and measure learning outcomes
                </li>
            </ul>
            <p>
                The first cohort starts in December 2022. Places are limited and are being offered exclusively to GreenTech companies and Tech for Good companies. If you would like to find out more please get in touch.
            </p>

            <hr>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PROGRAMMES</h2>
                    <h3 class="section-subheading text-muted">Residential Retreats 2022/23.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="img/build.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                Graduates
                            </h5>
                            <p class="card-text">
                                Lorem ipsum
                            </p>
                        </div>  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="img/brainstorm.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                First Time Leaders
                            </h5>
                            <p class="card-text">
                                Lorem ipsum
                            </p>
                        </div>  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="img/world.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                World Class Leaders
                            </h5>
                            <p class="card-text">
                                Lorem ipsum
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>